{% extends base.html %}
{% load static %}

{% block title %} 
this post title 
{% endblock %} 

{% block css_files%} 
<link rel="stylesheet" href="{%static "blog/post.css" %}" />
<link rel="stylesheet" href="{%static "blog/all-posts.css" %}" />
{% endblock %}
{% block content %}

<section id="summary">
<h2>Post Title</h2>
<article>
    <img src="{% static "blog/images/mountains.jpg" %}" alt="post-title"/>
    <address>By Sifat</address>
    <div>
        Last updated on <time>July 26th </time>
    </div>
</article>
</section>
<main>
    <p>
        Astronomy is the study of everything in the universe beyond Earth's atmosphere. That includes objects we can see with our naked eyes, like the Sun , the Moon , the planets, and the stars . It also includes objects we can only see with telescopes or other instruments, like faraway galaxies and tiny particles.
    </p>
    <p>
        Astronomy is the study of everything in the universe beyond Earth's atmosphere. That includes objects we can see with our naked eyes, like the Sun , the Moon , the planets, and the stars . It also includes objects we can only see with telescopes or other instruments, like faraway galaxies and tiny particles.
    </p>
    <p>
        Astronomy is the study of everything in the universe beyond Earth's atmosphere. That includes objects we can see with our naked eyes, like the Sun , the Moon , the planets, and the stars . It also includes objects we can only see with telescopes or other instruments, like faraway galaxies and tiny particles.
    </p>
</main>

{%endblock%}







